.App {
  text-align: center;
}
body {
  background-color: #f8f8f8 !important;
}
.color {
  color: var(--primary);
}
.backgroundPrimary {
  background-color: var(--primary);
}
.fullHiehgt {
  height: 100vh;
}
